<section class="section-bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section-title">
          <h2>NUESTRAS REFERENCIAS</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
        *ngFor="let product of products"
      >
        <div class="single-product">
          <div class="product-thumb">
            <img [src]="product.imageUrl" alt="" *ngIf="!loader" />
          </div>
          <div class="typing-indicator product-thumb" *ngIf="loader">
            <div class="typing-circle"></div>
            <div class="typing-circle"></div>
            <div class="typing-circle"></div>
            <div class="typing-shadow"></div>
            <div class="typing-shadow"></div>
            <div class="typing-shadow"></div>
          </div>
          <div class="product-title">
            <h3>
              <a>{{ product.title }}</a>
            </h3>
          </div>
          <div class="product-btns">
            <a
              routerLink="/shoesImages"
              (click)="changeShoes(product.title)"
              class="btn-small mr-2"
              >{{ product.price }}</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="directional">
        <button class="allReferences" routerLink="/home">
          Principales Referencias
        </button>
      </div>
    </div>
  </div>
</section>
