/************************Google font == Didact Gothic**************/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Didact+Gothic&display=swap");
.section-bg {
  padding: 60px 0;
}
.section-title {
  margin-bottom: 25px;
}
.section-title h2 {
  position: relative;
  font-size: 32px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 1px;
  z-index: 1;
  color: black;
  text-transform: capitalize;
  display: inline-block;
  font-family: "Didact Gothic", sans-serif;
}

.single-product {
  box-shadow: inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
  padding: 30px;
  border: 5px double gray;
  border-radius: 12px;
  margin-bottom: 50px;
}
.single-product .product-thumb {
  margin-bottom: 20px;
}
img {
  display: inline-block;
  max-width: 100%;
}
.single-product .product-title {
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}
.single-product .product-title h3 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.single-product .product-title h3 a {
  color: #292929;
  text-decoration: none;
}
.single-product .product-title h3 a:hover {
  color: #7289ab;
}
.single-product:hover {
  box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.product-btns {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  color: #292929;
}

.btn-small {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 32px;
  border-radius: 50px;
  box-shadow: inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

.btn-round {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
}
.btn-small:hover {
  box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
  color: #7289ab;
  text-decoration: none;
}
.btn-round:hover {
  box-shadow: inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
  color: #7289ab;
}

.button-center {
  justify-content: center;
  text-align: center;
}

.bttn-def {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 14px 42px;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
  font-family: "Didact Gothic", sans-serif;
}

.bttn-def:hover {
  color: #7289ab;
  box-shadow: inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
  color: #7289ab;
}
.bttn-def:hover span {
  display: inline-block;
  transform: scale(0.98);
}

.directional {
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 3;
}
.directional button {
  font-size: 20px;
  width: 250px;
  height: 50px;
  color: #fff;
  margin-right: 1rem;
  background-color: black;
  border-radius: 30px;
  border: none;
  opacity: 0.2;
}
.directional button:hover {
  opacity: 1;
}

@media (max-width: 768px) {
}

/* Loader */

/* From Uiverse.io by aaronross1 */
.typing-indicator {
  width: 50%;
  margin: 0 auto;
  height: 30px;
  padding: 2rem 0;
  position: relative;
  top: 1rem;
  z-index: 4;
}

.typing-circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background-color: #000;
  left: 15%;
  transform-origin: 50%;
  animation: typing-circle7124 0.5s alternate infinite ease;
}

@keyframes typing-circle7124 {
  0% {
    top: 20px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 8px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.typing-circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.typing-shadow {
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 30px;
  transform-origin: 50%;
  z-index: 3;
  left: 15%;
  filter: blur(1px);
  animation: typing-shadow046 0.5s alternate infinite ease;
}

@keyframes typing-shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.typing-shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
