<div class="container p-3">
  <h3 style="text-align: center">Más Información</h3>
  <form class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-11">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Fecha</mat-label>
          <input matInput [value]="data.fecha | date : 'dd-MM-yyyy'" readonly />
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-11">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Cliente</mat-label>
          <input matInput [value]="data.nombreCliente" readonly />
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-11">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Forma de Pago</mat-label>
          <input matInput [value]="data.formaPago" readonly />
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-11">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Referencia</mat-label>
          <input matInput [value]="data.referencia" readonly />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-11">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Precio</mat-label>
          <input
            matInput
            [value]="data.precio | currency : 'COP ' : 'symbol' : '1.0-0'"
            readonly
          />
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-11">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Total Cantidad</mat-label>
          <input matInput [value]="getTotalCantidad()" readonly />
        </mat-form-field>
      </div>
    </div>
    <hr />
    <div class="row">
      <h5 style="text-align: center">Tallas Vendidas</h5>
      <div
        class="col-4"
        *ngFor="let talla of [35, 36, 37, 38, 39, 40, 41, 42, 43]"
      >
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Talla {{ talla }}</mat-label>
          <input matInput [value]="getCantidadPorTalla(talla)" readonly />
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-3 col-sm-11 d-flex">
        <button mat-flat-button color="warn" mat-dialog-close>Cerrar</button>
      </div>
    </div>
  </form>
</div>
