<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form
        class="sign-in-form"
        [formGroup]="signInForm"
        (ngSubmit)="onLogin()"
      >
        <h2 class="title">Iniciar Sesión</h2>

        <div class="row">
          <div class="inputContainer">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Usuario</mat-label>
              <input
                matInput
                formControlName="username"
                placeholder="Usuario"
              />
              <mat-error>El usuario es obligatorio </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="inputContainer">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                type="password"
                formControlName="password"
                placeholder="Contraseña"
              />
              <mat-error>La contraseña es obligatoria</mat-error>
            </mat-form-field>
          </div>
        </div>

        <button mat-flat-button color="primary" type="submit">Iniciar</button>
        <p *ngIf="errorMessage" class="error-message mt-3 text-danger">
          {{ errorMessage }}
        </p>
      </form>

      <form class="sign-up-form" [formGroup]="signUpForm">
        <h2 class="title">Registrarse</h2>

        <div class="inputContainer">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              formControlName="username"
              placeholder="Ingrese su nombre"
            />
            <mat-error>El campo es obligatorio</mat-error>
          </mat-form-field>
        </div>

        <div class="inputContainer my-2">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Usuario</mat-label>
            <input
              matInput
              formControlName="email"
              placeholder="Ingrese su usuario"
            />
            <mat-error> El campo es obligatorio </mat-error>
          </mat-form-field>
        </div>

        <div class="inputContainer">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              type="password"
              formControlName="password"
              placeholder="Ingrese su contraseña"
            />
            <mat-error>
              <span *ngIf="signUpControls['password'].errors?.['required']"
                >La contraseña es obligatoria.</span
              >
            </mat-error>
          </mat-form-field>
        </div>

        <button mat-flat-button color="accent" type="submit" class="my-3">
          Registrar
        </button>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>Eres nuevo administrador?</h3>
        <p>Únete a nosotros.</p>
        <button class="btn transparent" (click)="toggleForm('signUp')">
          Registrarse
        </button>
      </div>
      <img src="./../../../../assets/login.svg" class="image" alt="" />
    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>Ya eres administrador?</h3>
        <p>Ya eres parte de nosotros, solo ingresa tus credenciales.</p>
        <button class="btn transparent" (click)="toggleForm('signIn')">
          Iniciar sesión
        </button>
      </div>
      <img src="./../../../../assets/reg.svg" class="image" alt="" />
    </div>
  </div>
</div>
