<div class="contenedor">
  <button class="btn_login" routerLink="/login">Iniciar Sesión</button>
  <div id="slide">
    <div class="item" *ngFor="let item of items">
      <div class="image">
        <img [src]="item.image" alt="Item Image" />
      </div>

      <div class="content">
        <div class="left">
          <h1>{{ item.title }}</h1>

          <button routerLink="/shoesImages" (click)="changeShoes(item.title)">
            <span class="transition"></span>
            <span class="gradient"></span>
            <span class="label">Ver fotos</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="directional">
    <button
      (click)="next()"
      class="buttonleft"
      style="background-color: white; opacity: 1; color: black"
    >
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <button routerLink="/allReferences" class="allReferences">
      VER TODAS LAS REFERENCIAS
    </button>
    <button (click)="prev()" class="buttonRight">
      <i class="fa-solid fa-angle-right"></i>
    </button>
  </div>
</div>
