.tallas-container {
  margin: 16px 0;
}
.contenedor {
  padding: 1rem;
}
.text-center {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

h4 {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}
