<div class="contenedor">
  <div class="row container mt-4 ms-2 mb-2">
    <div class="col-lg-11">
      <div class="section-title">
        <h3>NUESTRAS REFERENCIAS</h3>
      </div>
    </div>
  </div>
  <div class="container_card">
    <article
      class="card"
      *ngFor="let product of products; let i = index"
      [ngStyle]="{ 'background-color': product }"
    >
      <div class="title">
        <h5>{{ product.title }}</h5>
      </div>
      <div class="card__img">
        <img [src]="product.imageUrl" [alt]="product.title" />
      </div>
      <div class="card__name">
        <p>{{ product.title }}</p>
      </div>
      <div class="card__precis">
        <a href="#" class="card__icon"></a>
        <span
          class="card__preci"
          routerLink="/shoesImages"
          (click)="changeShoes(product.title)"
          >Ver Fotos</span
        >
      </div>
    </article>
  </div>

  <div class="row container">
    <div class="directional ms-5 my-5">
      <button class="allReferences" routerLink="/home">
        Principales Referencias
      </button>
    </div>
  </div>
</div>
