<div class="contenedor" style="margin: 0">
  <div class="card shadow border-0">
    <div class="card-body">
      <h3 class="text-center mb-4">Agregar Numeración</h3>
      <div class="mb-3">
        <mat-form-field appearance="fill" class="w-80">
          <mat-label>Nombre de Referencia</mat-label>
          <input
            matInput
            disabled="true"
            placeholder="Ingrese el nombre de referencia"
            [(ngModel)]="reference.nombreReferencia"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <div
          class="col-lg-4 col-md-6 col-sm-12 mb-3"
          *ngFor="let talla of tallas"
        >
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Talla {{ talla }}</mat-label>
            <input
              matInput
              type="number"
              placeholder="0"
              [(ngModel)]="cantidades[talla]"
              min="0"
            />
            <mat-error *ngIf="cantidades[talla] < 0">
              No se permiten números negativos
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="text-center mt-4">
        <button
          mat-flat-button
          color="primary"
          class="me-3 px-2 py-2"
          (click)="guardar()"
        >
          Guardar Numeración
        </button>
        <button
          mat-flat-button
          color="warn"
          class="me-3 px-2 py-2"
          mat-dialog-close=""
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
