<div class="body">
  <div id="content-wrapper">
    <div *ngFor="let item of images" class="column">
      <h1>{{ item.nombre }}</h1>
      <h3 class="mt-4">{{ item.color }}</h3>
      <hr style="width: 100%; margin-bottom: 2rem; border: 2px solid black" />
      <div class="typing-indicator" *ngIf="loader">
        <div class="typing-circle"></div>
        <div class="typing-circle"></div>
        <div class="typing-circle"></div>
        <div class="typing-shadow"></div>
        <div class="typing-shadow"></div>
        <div class="typing-shadow"></div>
      </div>
      <img
        id="featured"
        [src]="item.featuredImage"
        alt="{{ item.nombre }}"
        *ngIf="!loader"
      />

      <div id="slide-wrapper">
        <div id="slider" *ngIf="!loader">
          <img
            *ngFor="let img of item.totalImages; let i = index"
            class="thumbnail"
            [src]="img"
            (click)="setImage(item, img)"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="directional">
      <button class="allReferences" routerLink="/home">
        Principales Referencias
      </button>
      <button class="allReferences" routerLink="/allReferences">
        Todas las Referencias
      </button>
    </div>
  </div>
</div>
