<div class="container ps-3">
  <div class="backbutton w-100">
    <h2 style="margin: 0 auto">{{ "Bodega" | titlecase }}</h2>
  </div>
  <br />
  <div class="actions">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
      <div>
        <button
          class="p-button"
          (click)="openDialog()"
          style="border-radius: 10px"
        >
          <i class="pi pi-plus-circle p-button-icon-left"></i>
          <span class="p-button-label">Ingresar nueva Referencia</span>
        </button>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-5">
      <form class="example-form">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Buscar Referencia</mat-label>
          <input
            name="search"
            matInput
            placeholder="Ingresa Referencia"
            [(ngModel)]="searchTerm"
            (input)="filterReferences()"
          />
        </mat-form-field>
      </form>
    </div>
  </div>
  <div *ngIf="showLoader" class="text-center mt-5">
    <p-progressSpinner styleClass="custom-spinner"></p-progressSpinner>
    <p class="text-dark mt-3">No se encontró la referencia</p>
  </div>

  <div *ngIf="loader" class="text-center mt-5">
    <p-progressSpinner styleClass="custom-spinner"></p-progressSpinner>
    <p class="text-dark mt-3">Cargando referencias...</p>
  </div>

  <div class="row" *ngIf="!showLoader">
    <div
      class="card-container"
      fxLayout="row wrap"
      fxLayoutAlign="center start"
      fxLayoutGap="20px"
    >
      <p-card
        *ngFor="let reference of filteredReferences"
        class="reference-card"
        class="no-background-card"
      >
        <ng-template pTemplate="header">
          <div class="my" style="text-align: center">
            <h5>{{ reference.nombreReferencia | titlecase }}</h5>
          </div>
        </ng-template>

        <ng-template
          pTemplate="content"
          style="background-color: transparent; padding-top: 0"
        >
          <div class="image-container">
            <img
              *ngIf="reference.imagen"
              [src]="getImageUrl(reference.imagen)"
              alt="Imagen no encontrada"
              class="reference-image"
            />
            <div *ngIf="!reference.imagen" class="placeholder-image"></div>
          </div>

          <div class="tallas-container" fxLayout="row wrap" fxLayoutGap="10px">
            <div
              *ngFor="let talla of tallas"
              class="talla-item"
              fxLayout="column"
              fxLayoutAlign="center center"
            >
              <span
                ><b>{{ talla }}</b
                >: {{ reference.tallas[talla.toString()] || 0 }}</span
              >
            </div>
          </div>

          <div class="total mt-3" fxLayoutAlign="center center">
            <b>Total cantidad:</b> {{ reference.totalCantidad }}
          </div>
        </ng-template>

        <ng-template pTemplate="footer">
          <div class="mt-3" fxLayout="row" fxLayoutAlign="space-between center">
            <button
              class="p-button p-button-text me-2"
              (click)="addNumbering(reference)"
              style="border-radius: 10px"
            >
              <span class="p-button-label">Agregar</span>
            </button>

            <button
              class="p-button p-button-text me-2"
              (click)="venta(reference)"
              style="border-radius: 10px"
            >
              <span class="p-button-label">Venta</span>
            </button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
