.venta-container {
  padding: 16px;
  border: 1px solid #060505;
  border-radius: 8px;
  background: #fff;
}

.tallas-container {
  margin: 16px 0;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

h4 {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}
