<div class="container p-4 w-100">
  <h2>Abonos Realizados</h2>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 my-3">
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let abono">
          {{ abono.fecha | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let abono">
          {{ abono.cantidad | currency : "COP " : "symbol" : "1.0-0" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nota">
        <th mat-header-cell *matHeaderCellDef>Nota</th>
        <td mat-cell *matCellDef="let abono">{{ abono.nota }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
  <div mat-dialog-actions align="end">
    <button class="btn btn-danger ms-3" mat-dialog-close>Cerrar</button>
  </div>
</div>
