<div class="container">
  <h2 class="mt-4 ms-2" style="text-align: center">Agregar Abono</h2>
  <mat-dialog-content>
    <form [formGroup]="abonoForm" (ngSubmit)="guardarAbono()">
      <div class="row">
        <mat-form-field>
          <mat-label>Fecha</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="fecha"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Cantidad de Abono</mat-label>
          <input matInput type="number" formControlName="cantidad" required />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>Nota</mat-label>
          <textarea matInput formControlName="nota"></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="btn btn-primary" type="submit" (click)="guardarAbono()">
      Guardar
    </button>
    <button mat-dialog-close class="btn btn-danger ms-2">Cancelar</button>
  </mat-dialog-actions>
</div>
